[project]
	description = "SOFE 3950U / CSCI 3020U: Operating Systems TUTORIAL #4: Jeopardy"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/giancarlo319
[access "refs/for/refs/*"]
	read = group user/giancarlo319
	push = group user/giancarlo319
	label-Code-Review = -2..+2 group user/giancarlo319
	label-Verified = -1..+1 group user/giancarlo319
	rebase = group user/giancarlo319
	removeReviewer = group user/giancarlo319
	submit = group user/giancarlo319
[access "refs/heads/*"]
	read = group user/giancarlo319
	create = group user/giancarlo319
	push = +force group user/giancarlo319
	pushMerge = group user/giancarlo319
[access "refs/tags/*"]
	push = group user/giancarlo319
	push = +force group user/giancarlo319
